*{
    padding: 0;
    margin:0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}
section{
    position:relative;
    width: 100%;
    height: 100vh;
    background:radial-gradient(cornsilk,rgb(179,202,245));
    overflow: hidden;
    justify-content: center;
    text-align: center;
}
section h1{
    margin-top: 250px;
    color:navy;
    font-size: 60px;
}
section h2 {
    text-align: center;
    margin-top: 100px;

}
a{
    position: relative;
    padding: 10px 30px;
    color:darkred;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    font-size: 45px;

}
a:hover{
    background: navy;
    color:firebrick;
    box-shadow: 0 0 15px navy;
     transition-delay: 0.5s ;
}
a:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 5px solid darkred;
    border-left: 5px solid darkred;
    transition: 0.5s;
    transition-delay: 0.5s;
}
a:hover:before{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
a:after{
    content: '';
    position: absolute;
    bottom:0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid darkred;
    border-right: 5px solid darkred;
    transition: 0.5s;
    transition-delay: 0.5s;
}
a:hover:after{
    width: 100%;
    height:100%;
    transition-delay: 0s;
}
section .set{
    position:absolute;
    width: 100%;
    height: 100%;
    top:-100px;
    left:0;
    pointer-events: none;
}
section .set div{
    position: absolute;
    display: block;
    margin-top: 100px;

}
section .set div:nth-child(1){
    left:20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
section .set div:nth-child(2){
    left:50%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(3){
    left:70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
section .set div:nth-child(4){
    left:0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(5){
    left:85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
section .set div:nth-child(6){
    left:0%;
    animation: animate 12s linear infinite;

}
    section .set div:nth-child(7){
        left:15%;
        animation: animate 14s linear infinite;

    }
    section .set div:nth-child(8){
        left:60%;
        animation: animate 15s linear infinite;
    }

@keyframes animate{
    0%{
        opacity: 0;
        top:-10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(-20px) rotate(180deg);
    }
    80%{
        transform:translateX(-20px) rotate(180deg);
    }
    100%{
        top:110%;
        transform: translateX(-20px) rotate(225deg);
    }

}
.set2{
    transform: scale(2) rotateY(180deg);
    filter:blur(2px);
}
.set3{
    transform:scale(0.8) rotateX(180deg) ;
    filter: blur(4px);
}